:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  margin: 0;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: .5rem;
}

.tag {
  font-size: 0.85rem;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.card-content {
  margin-bottom: 1rem;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.2rem;
  font-weight: 500;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  position: relative;
  padding: 32px 0;
  align-items: start;
}

.cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: .5rem;
} 

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .shopping-cart {
    position: sticky;
    top: 32px;
  }  
}