:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

body {
  margin: 0;
}

.login-page {
  display: grid;
  place-items: center;
  height: 100vh;
}

.form {
  display: grid;
  gap: 16px;
  padding: 12px;
  width: 100%;
  max-width: 360px;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 12px;
  font-weight: 500;
  background-color:  #646cff;
  cursor: pointer;
  color: #fff;
}

.fieldform__input {
  display: block;
  width: 100%;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 12px;
}

.fieldform__input:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.fieldform__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}

.mb-2 {
  margin-bottom: 16px;
}

.header {
  border-bottom: 1px solid #222;
  padding: 24px 24px 0;
}

.tabs {
  display: flex;
  gap: 6px;
}

.tab {
  margin-bottom: -1px;
  padding: 12px 24px;
  font-weight: 500;
  border: 1px solid #222;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
}

.tab--actived {
  border-bottom-color: #fff;
}

.header__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.content {
  padding: 24px;
}